<h1>duckhunt view</h1>
  <div id="playerinfo">
	<span id="hp"></span>
	<span id="ammo"></span>
	<span id="score"></span>
</div>
  <div id="content"></div>
<div id="status"></div>
<input id="input" type="text"></div>
<div id="gamearea" style="width: 500px;height: 500px; border: 1px solid black; position: absolute;top: 0;right: 0;" class="gamearea">
	<div class="target"  style="width: 40px;height: 40px; border: 1px solid black; border-radius:40px; background:red; z-index:4;position:relative;"></div>
</div>